* {
    margin: 0;
    padding: 0;
    font-family: poppins, sans-serif;
}

body {
    background: #242e47;
}

.Subhash-Yadav {
    height: 100px;
    width: 100px;
    margin-top: 0;
    margin-bottom: 85px;
    margin-right: 60px;
    border-radius: 50%;
    box-shadow: 0px 0.45px 12px cyan;
    border: 2px solid blueviolet;
    cursor: pointer;
}

.Subhash-Yadav:hover {
    box-shadow: 0px 0.45px 20px cyan;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    box-shadow: 0 0.45px 10px;
    height: 5vh;
    width: 5vw;
    background: #fcfeff;
    align-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    /* margin: 1vw 10vw; */
    margin: auto;
    border-radius: 15px;
    margin-right: 11vw;
}

/* .text-card img {
    height: 50px;
    width: 50px;
} */

section:nth-child(1) {
    color: #fff;
}

section:nth-child(2) {
    color: #1D212B;
    background: #fff;
}

section:nth-child(3) {
    color: #fff;
}

section:nth-child(4) {
    color: #1D212B;
    background: #fff;
}

section .container {
    margin: 100px 110px;
}

section h1 {
    font-size: 60px;
    text-shadow: 0px 0.45px 10px cyan;
}


section h2 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}

section .card {
    display: flex;

    

}

section .card .text-card {
    background-color: transparent;
    margin: 2vw;
    padding: 7px;


}

 .text-card img{
    box-shadow: 0 0.45px 10px rgba(36, 35, 35, 0.575);
 }
/* section .card .text-card .new{
    background-color: transparent;
} */

section .card .text-card h3 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}


/* -------------------------------------------------media quaries----------------------------------------- */

@media (max-width:900px) {
    section h1 {
        font-size: 40px;

    }

    section .card {
        flex-direction: column;
    }

    .text-card .imgg {
        height: 32vh;
        width: 70vw;
    }

    .Subhash-Yadav {
        display: none;

    }

    section .card .text-card {
        background: #2696E9;
        /* margin: 23px; */
        padding: 7px;
        /* height: 32vh; */
        width: auto;
    }
    .container .wide{
        width: 79vw;
    }
    button{
        width: 20vw;
        margin: auto;
    }
 


}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
    color: #fff;
}

/* ------------------------------------------------------------------------------------------------------------- */
.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

.text-card img {
    height: 45vh;
    width: 25vw;
    display: flex;
}