*{
  margin: 0;
  padding: 0;
  font-family: poppins,sans-serif;
}

body{
  background-image: url(GIF/GIF\ for\ background.gif);
  background-size: cover;
}

.blur-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(30px); /* Adjust the blur intensity as needed */
  z-index: -1;
}

p{
  font-size: 10vh;
  font-weight: 500;
  margin: 20vh 2vw;
}
p span{
  color: blueviolet;
  font-weight: 600;
}

.buttons{
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  top: 3vh;
  
  
}

.buttons .singup{
  margin: 20px 10px;
  margin-left: 64vw;
  padding: 8px 18px;
  border-radius: 25px;
  border: 1px solid black;
  background-color: transparent;
  font-weight: 500;
  cursor: pointer;
}

.buttons .singup img{
  height: 19px;
  width: 19px;
}

.buttons .Login{
  margin-right: 12vw;
  margin: 20px 10px;
  /* margin-left: 60vw; */
  padding: 8px 18px;
  border-radius: 25px;
  border: 1px solid black;
  background-color: transparent;
  font-weight: 500;
  cursor: pointer;
}

.buttons .Login img{
  height: 19px;
  width: 19px;
}

.buttons .singup:hover{
  background-color:#B399A9;
}
.buttons .Login:hover{
  background-color:#B399A9;
}
.icon {
  display: flex;  /* Use flexbox to align images horizontally */
  /* background-color: blueviolet; */
  height: 7vh;
  width: 12vw;
  float: right;
  margin-right: 8vw;
  
  justify-content: space-between;
}

.icon img {
  max-width: 100%;  /* Set maximum width to 100% of the parent div */
  height: auto;  /* Maintain the aspect ratio */
  margin: 8px;
  transition: transform 0.5s;
}

.icon a{
  text-decoration: none;
  padding: 10px;
  height: auto;
  width: auto;
  
}

.icon img:hover{
  transform: translateY(-5px);
}
